    .horizontal-menu {
      top: 0%;
      left: 0;
      position: fixed;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: white;
      width: 270px;
    }

    .horizontal-menu li {
      float: left;
    }

		#color-palette {
			background-color: #f1f1f1;
			display: flex;
			flex-wrap: wrap;
			position: absolute;
			width: 600px;
      position: fixed;
      bottom: 0;
      left: 50%;
      margin-left: -300px;
		}

		.swatch {
			width: 24px;
			height: 24px;
			-moz-border-radius: 12px;
			-webkit-border-radius: 12px;
			border-radius: 12px;
			margin: 3px;
		}

		#myCanvas {
			  padding-left: 0;
		    padding-right: 0;
		    margin-left: auto;
		    margin-right: auto;
		    display: block;
		}
    
    .vertical-menu {
      width: 200px;
      float: left;
      position: fixed;
      left: 0;
      top: 15%;
      width: 8em;
    }
    
    .modal {
      display: none; 
      position: fixed; 
      z-index: 1; 
      padding: 140px 40px 100px 120px; 
      left: 0;
      top: 0;
      width: 80%; 
      height: 100%; 
      overflow: auto; 
    }
    
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 2px solid #888;
      width: 80%;
    }

    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }

		.btn {
  	background-color: DodgerBlue; 
  	border: none;
  	color: white; /* White text */
    text-align: center;
  	padding: 14px 16px; 
    display: block;
  	font-size: 15px; 
  	cursor: pointer; /* Mouse pointer on hover */
    width: 100%;  
		}
		
		.btn:hover {
  	background-color: RoyalBlue;
		}
    
    #color-suggest {
        top:0;
        right:0;
        color: white;
        border: none;
        background-color: DodgerBlue;
        text-align: center;
        font-size: 24px;
        position: fixed;
        cursor: pointer;
        width: 180px;
        height: 100px;
    }

    #color-suggest:hover {
      background-color: RoyalBlue;
    }

    #suggest-palette {
			display: flex;
			flex-wrap: wrap;
			width: 600px;
    }

    p{
      color: #43464C;
      font-size: 20px;
    }

    
